# ADD TO .gitignore

# key files anywhere in the project directory and subfolders
**/*.key
# data files anywhere in the project directory and subfolders
**/data/*
# unprotected zip files anywhere in the project directory and subfolders
**/*.zip
